*{
    padding:0%;
    
   
}
body{
    font-family:sans-serif, Arial, Helvetica, sans-serif
}
.top-section{
    display:flex;
    padding: 40px;
  
}
.half-width{
    width: 50%;

}
.image{
    width: 75%;
   
    
   
}
.top-heading{
    border-left: 3px solid rgb(182, 36, 36);
    margin: 20px;
    padding-left: 20px;
   
}
.heading2{
    color: rgb(35, 21, 158);
    font-size: 40px;
}
.heading1{
    font-size: 40px;
}
.motivation{
    padding-top:30px;
    padding-bottom: 30px;
    }
.details{
    margin:20px 10px;
}
.link-botton{
    text-decoration: none;
    color: snow;
   background-color: rgb(247, 92, 92);
    border-radius: 5px;
   padding: 8px 25px;

}
.more{
    padding-top: 20px;
}
.third-heading{
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
 
}
.top-middle{
    display: inline;
}
.redcolor{
    color: rgb(139, 64, 29);
}


.middle{
    display: flex;
    margin: auto 60px;
}
.paragraph{
    padding: 13px;
    text-align: justify;
}
.goal img{
    width: 60%;
}
.vission img{
    width: 60%;
}
.mission img{
    width: 60%;
}
.mission{
    background-color: rgb(123, 216, 216);

}
.vission{
    background-color: skyblue;
}
.goal{
    background-color: slategray;
}
.same-width{
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    height: auto;
}
.small{
  margin-left: 10px;
}
.heading3{
    font-size: 40px;
}


.workflow{
    display: flex;
    margin: 80px;
    background-image: url(/shapes/shape-1.png);
    background-repeat: no-repeat;
   background-size: 300px 300px;
   background-position-y: 50px;
}
.imagegirl img{
    width: 55%;
    float: right;
    padding-right: 250px;

}
.workdetails{
    margin-top: 100px;
}




.community{
    display: flex;
    margin: 80px;
}
.imageproject img{
    width: 55%;
    float: right;
    padding-right: 100px;

}
.workdetails{
    margin-top: 100px;
}
.imageproject{
    background-image: url(/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 250px 250px;
    background-position: right bottom
  
}
footer{
    background-color: black;
  
}
.footer-heading{
    color: blanchedalmond;
    text-align: center;
    padding-top: 10px;
}
.lastpara{
    color: blanchedalmond;
    text-align: center;
    padding-bottom: 10px;
}
.last-heading{
padding:50px 600px;
} 
.contact-link a{
    margin-left:250px;
}